.one {
    background-color: #ecbec5;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.three {
    font-size: 24px;
}

#two {
    color: #1919f3;
    font-size: 36px;
}

#four {
    font-size: 24px;
    font-weight: bold;
    background-color: #67db67;
}